@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .masonry-cols-4 {
    column-count: 4;
    column-gap: 1em;
  }
  .masonry-cols-3 {
    column-count: 3;
    column-gap: 1em;
  }
  .masonry-cols-2 {
    column-count: 2;
    column-gap: 1em;
  }
  .break-inside {
    break-inside: avoid;
  }
}
@layer components {
  /* row */
  .row-start {
    @apply flex items-center justify-start;
  }
  .row-end {
    @apply flex items-center justify-end;
  }
  .row-center {
    @apply flex items-center justify-center;
  }
  .row-between {
    @apply flex items-center justify-between;
  }

  /* column */
  .f-col {
    @apply flex flex-col;
  }
  .col-center {
    @apply items-center justify-center f-col;
  }
  .col-start {
    @apply items-start justify-center f-col;
  }
  .col-end {
    @apply items-end justify-center f-col;
  }
  .col-between {
    @apply items-center justify-between f-col;
  }
  .container-white {
    @apply w-full px-4 py-8 mx-auto lg:px-5 bg-white/30 rounded-2xl backdrop-blur-lg;
  }
  .layout {
    @apply min-h-screen px-1 py-8 md:px-3 lg:max-w-[1100px] mx-auto;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-slate-800;
}

::-webkit-scrollbar-thumb {
  @apply rounded-lg shadow-inner bg-slate-50/10 hover:bg-slate-100/20;
}
